*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
     /* header-section-start */
    

     /* header-section-end */
    
     /* main-section-start */
    

     /* main-section-end */
    
     /* footer-section-start */
    

     /* footer-section-end */